@{
    ViewBag.Title = "Журнал";
}

<style>
    .table-hover-cells > tbody > tr > th:hover,
    .table-hover-cells > tbody > tr > td:hover {
        background-color: #f5f5f5;
    }

    .table-hover-cells > tbody > tr > th.active:hover,
    .table-hover-cells > tbody > tr > td.active:hover,
    .table-hover-cells > tbody > tr.active > th:hover,
    .table-hover-cells > tbody > tr.active > td:hover {
        background-color: #e8e8e8;
    }

    .table-hover.table-hover-cells > tbody > tr:hover > th:hover,
    .table-hover.table-hover-cells > tbody > tr:hover > td:hover {
        background-color: #e8e8e8;
    }

    .table-hover.table-hover-cells > tbody > tr.active:hover > th:hover,
    .table-hover.table-hover-cells > tbody > tr.active:hover > td:hover {
        background-color: #d8d8d8;
    }

    h1 > .divider:before,
    h2 > .divider:before,
    h3 > .divider:before,
    h4 > .divider:before,
    h5 > .divider:before,
    h6 > .divider:before,
    .h1 > .divider:before,
    .h2 > .divider:before,
    .h3 > .divider:before,
    .h4 > .divider:before,
    .h5 > .divider:before,
    .h6 > .divider:before {
        color: #777;
        content: "\0223E\0020";
    }
</style>

<div class="span12">
    <div class="content">
        <div class="module">
            <div class="module-head">
                <h3>
                    Журнал
                </h3>
            </div>
            <div class="module-option clearfix" style="border: none; padding-bottom: 0.5em;">
                <div class="pull-left">
                    Класс : &nbsp;
                    @*<div class="btn-group">
                        <button class="btn" style="width: 5em; text-align: left;">9а</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">9а</a></li>
                            <li><a href="#">9б</a></li>
                            <li><a href="#">10а</a></li>
                            <li><a href="#">10б</a></li>
                        </ul>
                    </div>*@
                    @Html.DropDownList("ClassId", (SelectList) ViewBag.Classes, "",  new { @id = "classes" })

                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Дисциплина : &nbsp;
                    @*<div class="btn-group">
                        <button class="btn" style="text-align: left;">Алгебра</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Алгебра [Преподаватель: Афанасьева Г.В.]</a></li>
                            <li><a href="#">Информатика [Преподаватель: Бородин А.С.]</a></li>
                            <li><a href="#">Физика [Преподаватель: Орлов Д.С.]</a></li>
                        </ul>
                    </div>*@

                    <select id="disciplines"></select>

                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Неделя : &nbsp;
                    @*<div class="btn-group">
                        <button class="btn">22.01.2018 - 28.01.2018</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">22.01.2018 - 28.01.2018</a></li>
                            <li><a href="#">29.01.2018 - 04.02.2018</a></li>
                            <li><a href="#">05.02.2018 - 11.02.2018</a></li>
                        </ul>
                    </div>*@
                    @Html.DropDownList("WeekStart", (IEnumerable<SelectListItem>) ViewBag.Weeks, new { @id = "weeks" })

                </div>
                <div class="pull-right">
                    <a href="#addLessonModal" data-toggle="modal"  class="btn btn-primary">Добавить занятие</a>
                </div>
            </div>

            <div id="journal"></div>

        </div>
    </div>
    <!--/.content-->
</div>
<!--/.span9-->


<div id="myModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Поставить оценку</h3>
    </div>

    <div class="modal-body">
        <form id="myModalForm" class="form-horizontal row-fluid" action="@Url.Action("CreateDetail", "Lesson")" method="post">
            <input type="hidden" name="LessonId" id="modalLessonId" />
            <input type="hidden" name="LessonDetailId" id="modalLessonDetailId" />
            <input type="hidden" name="StudentId" id="modalStudentId" />

            @Html.AntiForgeryToken()

            <div class="control-group">
                <label class="control-label">Оценка</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="Grade" id="optionsRadios1" value="5" checked="">
                        5
                    </label>
                    <label class="radio">
                        <input type="radio" name="Grade" id="optionsRadios2" value="4">
                        4
                    </label>
                    <label class="radio">
                        <input type="radio" name="Grade" id="optionsRadios3" value="3">
                        3
                    </label>
                    <label class="radio">
                        <input type="radio" name="Grade" id="optionsRadios3" value="2">
                        2
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    @*<label class="checkbox inline">
                        <input id="attention" type="checkbox" name="Attention">
                        Пометить как важное
                    </label>*@
                    @Html.CheckBox("Attention", new { id = "attention" })
                    Пометить как важное
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Коментарий</label>
                <div class="controls">
                    <textarea class="span8" rows="5" name="Comment"></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Отмена</a>
        <button id="myModalBtn" type="button" class="btn btn-primary">Сохранить</button>
    </div>
</div>

<div id="addLessonModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Добавить занятие</h3>
    </div>

    <div class="modal-body">
        <form id="addLessonForm" class="form-horizontal row-fluid" action="@Url.Action("Create", "Lesson")" method="post">
            <div class="control-group">
                @Html.AntiForgeryToken()

                <input type="hidden" id="modalDisciplineId" name="DisciplineId" />

                <label class="control-label" for="basicinput">Дата занятия</label>
                <div class="control-group">
                    <div class="controls" style="position: relative;">
                        @Html.TextBox("LessonDate", null, new { @class = "span6 datepicker", @placeholder = "Введите дату..." })
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="basicinput">Домашнее задание</label>
                <div class="controls">
                    <textarea class="span8" name="HomeWork" rows="5">Задания № 1, 9, 14 стр.105</textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Отмена</a>
        <button type="button" class="btn btn-primary" id="addLessonModalBtn">Сохранить</button>
    </div>
</div>

@section Scripts {
<script>
        $(function () {
            $("#classes").change(function () {
                var classId = $(this).val();
                $.get('/Lesson/GetDisciplines?classId=' + classId, function (disciplines) {
                    var options = '<option></option>';

                    if (disciplines) {
                        $.each(disciplines, function (ind, discipline) {
                            options += "<option value='" + discipline.DisciplineId + "'>" + discipline.DisciplineName + "</option>";
                        });
                    }

                    $("#disciplines").html(options);
                });
            });

            $("#disciplines").change(function () {
                var disciplineId = $(this).val();
                $("#modalDisciplineId").val(disciplineId);
            });

            $("#classes, #disciplines, #weeks").change(function() {
                loadLessons();
            });

            $('.datepicker').datetimepicker({
                locale: 'ru',
                format: 'DD.MM.YYYY',
                useCurrent: true
            });

            $("#addLessonModalBtn").click(function () {
                var classId = $("#classes").val();
                var disciplineId = $("#disciplines").val();

                if (!classId) {
                    alert('Выберите класс!');
                    return;
                }

                if (!disciplineId) {
                    alert('Выберите дисциплину!');
                    return;
                }

                // $("#addLessonForm").submit();
                var formdata = new FormData($('#addLessonForm').get(0));
                $.ajax({
                    url: "@Url.Action("Create")",
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function (response) {
                        loadLessons();
                        $("#addLessonModal").modal('hide');
                    }
                });
            });

            $("#myModalBtn").click(function () {
                // $("#myModalForm").submit();

                var formdata = new FormData($('#myModalForm').get(0));
                $.ajax({
                    url: "@Url.Action("CreateDetail")",
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function (response) {
                        loadLessons();
                        $("#myModal").modal('hide');
                    }
                });
            });
        });

        function loadLessons() {
            var classId = $("#classes").val();
            var disciplineId = $("#disciplines").val();
            var weekStart = $("#weeks").val();

            if (classId && disciplineId && weekStart) {
                $.get('/Lesson/GetLessons?classId=' + classId + '&disciplineId=' + disciplineId + '&weekStart=' + weekStart, function (lessons) {
                    $("#journal").html(lessons);

                    $(".detail").click(function () {
                        var detail = $(this);
                        var studentId = detail.find(".studentId").val();
                        $("#modalStudentId").val(studentId);
                        var lessonId = detail.find(".lessonId").val();
                        $("#modalLessonId").val(lessonId);
                        var lessonDetailId = detail.find(".lessonDetailId").val();
                        $("#modalLessonDetailId").val(lessonDetailId);
                    });
                });
            }
        }
</script>
}